/* Fonts and Colors */

body {
  background: rgb(230;230;230);
  color: #142D4C;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  }

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  }


h1 {
  font-size:42px;
  font-weight: bold;
  color: #142D4C;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  color: #86CB92;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight:500;
}

a {
  text-decoration: none;
  color: #2274A5;
  font-size: 20px;
  font-weight: 700;
}


/* Custom design with class (99%) */

.container{
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 500px) {
  .container{
    width: 400px;
  }
}

@media (max-width: 500px) {
  .container{
    width: 300px;
    font-size: 3px;
  }
}

@media (max-width: 500px) {
  h1{
    font-size: 25px;
  }
  a{
    font-size: 16px;
  }
}

.card-white{
  background:white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 40px 0px;
  text-align: center;
}

.img-circle{
  width: 250px;
  height: 265px;
  border-radius: 50%;
}

.btn-blue{
   background-color: #142D4C;
   color: white;
   padding: 10px 10px;
   font-weight: 100;
   border-radius: 5px;
   margin: 1000px 0px 0px 0px;
}

.btn-blue:hover {
  background-color: #2274A5;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 20px;
}

.list-inline i {
  font-size: 55px;
  color: rgb(230,230,230)
  }

.list-inline i:hover {
  color: rgb(0,0,0);
  }


/* Design adjustements using id (only 1%) */

#introduction p {
  margin-bottom: 40px;
}

